<table border="0" align="center"  >
    <tr>
        <th colspan="4" id="titulo" >
           <h1>Elija un juego</h1>
        </th>
    </tr>
    <tr>
       <td>
           <h2 id="tituloA">AHORCADO</h2>
       </td>
       <td>
           <h2 id="tituloM">MAYOR O MENOR</h2>

       </td>
     <!--   <td>
           <h2 id="tituloM">MI JUEGO(CLICKER FAST)</h2>

       </td>
       <td>
           <h2 id="tituloM">PREGUNTADOS</h2>

       </td>-->
    </tr>

    <tr>


       <td>
           <img src="/assets/img/6.png"    width="400" height="500"    />
       </td>

       <td>
           <img src="/assets/img/cartas/oros_1.jpg"    width="400" height="500"    />
       </td>

<!-- 
       <td>
           <img src="/assets/img/10.png"    width="400" height="500"    />
       </td>


     <td>
           <img [src]="imgPreguntados.hits[0].previewURL"    width="400" height="500"    />
       </td>--> 

       <td>
       </td>
    </tr>
    <tr>
       <td >
           <button id=ahorcado (click)="ahorcados()">JUGAR</button>

       </td>
       <td >
           <button id=mayorMenor (click)="mayorMenor()">JUGAR</button>

       </td>
   <!--     <td >
           <button id=miJuego (click)="miJuego()">JUGAR</button>

       </td>
       <td >
           <button id=preguntados (click)="preguntados()">JUGAR</button>

       </td>-->
       <td>
            
       </td>
    </tr>
</table>
 
<router-outlet></router-outlet>
