<div class="container "  style="background-color:rgba(214, 212, 212, 0.863);"   >
    <div class="row"  >
        <div class="col   " style="text-align: center; margin-top: 20px;"> <h1 id="titulo">¿QUIEN SOY?</h1></div>
    </div>
    <div class="row">
        <div class="col"><hr></div>
    </div>
    <div class="row" style="  ">
        <div class="col  " style=" text-align: center;  "><h2>{{miNombre}}</h2></div>
     </div>
     <br>
    <div class="row">
        <div class="col" style="  text-align: center; "><img id="foto" [src]=imgMia></div>
         
    </div>
    <div class="row">
        <div class="col"><hr></div>
    </div>

    <div class="row">
        <div class="col"  style="  text-align: center; "><p id="txt"> Hola, soy Alexis tengo 22 años, estudiante en la UTN de Avellaneda, para la Tecnicatura universitaria en programación. Actualmente me encuentro haciendo esta pagina, de sala de juegos para la materia de Lab IV.</p></div>
    </div>

    <div class="row">
        <div class="col"><hr></div>
    </div>
    <div class="row">
        <div class="col-lg-5" style="text-align: right;"><h2>Mi github:</h2></div>
        <div class="col" style="text-align: left;">
            <div class="btn-group btn-group-toggle">
            <a class="btn btn-light"  [href]=miHiHub><h2>Pagina de github</h2></a></div>
         </div>

    </div>
    <div class="row">
        <div class="col"><hr></div>
    </div>
    <div class="row" style="  ">
         <div class="col " style="text-align: center;"><h1>Mi juego-Clicker Fast</h1></div>
    </div>
    <br>

    <div class="row">
         <div class="col"  style=" text-align: center; "><p id="txt" >Mi juego,Click Fast consiste en pulsar circulos, que van apareciendo por el rectangulo de color amarillo, precionarlo hara que consiga un punto, apareciendo un total de 20 circulos (20 puntos maximos en total), el mismo desaparecera, dando lugar a que aparezca otro de forma aleatoria. A lo largo de 1,5 segundos, si no se logra presionar el círculo a tiempo, aumentará en uno, las fallas, lo cual hace que no consigas puntos. Al presionar el círculo.
            El juego empieza a los 2 segundos despues de darle al boton "INICIAR", para darle tiempo al jugador, para que se prepare.
            </p></div>
    </div>
    <br>
    <br>
</div>