.puesto0{
    background-color: rgba(235, 248, 55, 0.904);
}
.puesto1{
    background-color: rgba(202, 202, 202, 0.685);
}
.puesto2{
    background-color: rgba(247, 159, 44, 0.863);
}
#titulo{
    text-align: center;
}
#ahorcado{
    text-decoration:none;
font-weight:600;
font-size:20px;
color:#ffffff;
padding-top:30px;
padding-bottom:30px;
width: 100%;

background-color:#07DDFC;
justify-content: bottom;
}
#tituloA{
    text-align: center;
    font-size: xx-large;
    font-family: Comic Sans MS, Arial;
    color: #003BF8;
}
#tituloM{
    text-align: center;
    font-size: xx-large;
    font-family: Comic Sans MS, Arial;
    color: #003BF8;


}

#mayorMenor{
    text-decoration:none;
font-weight:600;
font-size:20px;
color:#ffffff;
padding-top:30px;
padding-bottom:30px;
width: 100%;
background-color:#F64735;
}
#miJuego{
    text-decoration:none;
font-weight:600;
font-size:20px;
color:#ffffff;
padding-top:30px;
padding-bottom:30px;
width: 100%;
background-color:#22f51be5;
}
#preguntados{
    text-decoration:none;
font-weight:600;
font-size:20px;
color:#ffffff;
padding-top:30px;
padding-bottom:30px;
width: 100%;
background-color:#be27fa;
}